<template id="NavUnit">
	<div class="card nav-unit">
		<div class="card-header">
			<button id="contenttoggle" class="btn collapsed" data-bs-toggle="collapse" data-bs-target="#">
				<img id="image" src="#" />
				<span id="label" class="bk-h3 my-0">#</span>
			</button>
		</div>
		<div class="collapse" data-bs-parent="#">
			<div class="card-body">
			</div>
		</div>
	</div>
</template>


<template id="NavFolder">
	<div class="card nav-folder">
		<div class="card-header">
			<button id="contenttoggle" class="btn collapsed" data-bs-toggle="collapse" data-bs-target="#">
				<img id="image" src="#" />
				<span id="label" class="bk-h5 my-0">#</span>
			</button>
		</div>
		<div class="collapse" data-bs-parent="#">
			<div class="card-body">
			</div>
		</div>
	</div>
</template>


<template id="NavSinglePage">
	<div tabindex="0" class="btn nav-singlepage">
		<img id="image" />
		<span id="label" class="bk-h5 my-0">#</span>
	</div>
</template>


<template id="NavInnerBook">
	<div class="card nav-innerbook">
		<div class="card-header">
			<button id="contenttoggle" class="btn collapsed" data-bs-toggle="collapse" data-bs-target="#">
				<div id="imageframe"><img /></div>
				<div id="label" class="bk-h5 my-0">#</div>
			</button>
		</div>
		<div class="collapse" data-bs-parent="#">
			<div class="card-body">
				<div id="partinfo"></div>
			</div>
		</div>
	</div>
</template>


<template id="NavInnerPage">
	<div tabindex="0" class="btn nav-innerpage">
		<img id="pageimage" />
		<span id="label" class="bk-h5 my-0">#</span>
		<div id="number"></div>
	</div>
</template>